{{!-- Header Section Start --}}
<header class="header">
    <a href="#" class="logo"><span>e</span>vento</a>
    <nav class="navbar">
        <a href="#home"></a>
        <a href="#service">service</a>
        <a href="#about">about</a>
        <a href="#gallery">gallery</a>
        <a href="#price">price</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
    </nav>
    <aside id="menu-bars" class="fas fa-bars"></aside>
</header>
{{!-- Header Section Ends --}}

{{!-- Home Section Starts --}}
<section class="home" id="home">
    <aside class="content">
        <h3>its time to celebrate! the best <span>event organizers</span></h3>
        <a href="#" class="btn">contact us</a>
    </aside>
    <aside class="swiper-container home-slider">
        <div class="swiper-wrapper">
            <aside class="swiper-slide"><img src="/img/slide-1.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-2.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-3.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-4.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-5.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-6.jpg" alt=""></aside>
        </div>
    </aside>
</section>
{{!-- Home Section Ends --}}




