{{!-- Header Section Start --}}
<header class="header">
    <a href="#" class="header__logo"><span>e</span>vento</a>
    <nav class="header__navbar">
        <a href="#home">home</a>
        <a href="#service">service</a>
        <a href="#about">about</a>
        <a href="#gallery">gallery</a>
        <a href="#price">price</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
    </nav>
    <aside id="menu-bars" class="fas fa-bars"></aside>
</header>
{{!-- Header Section Ends --}}

{{!-- Home Section Starts --}}
<section class="home" id="home">
    <aside class="home__content">
        <h3>its time to celebrate! the best <span>event organizers</span></h3>
        <a href="#" class="btn">contact us</a>
    </aside>
    <aside class="swiper-container home-slider">
        <div class="swiper-wrapper">
            <aside class="swiper-slide"><img src="/img/slide-1.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-2.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-3.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-4.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-5.jpg" alt=""></aside>
            <aside class="swiper-slide"><img src="/img/slide-6.jpg" alt=""></aside>
        </div>
    </aside>
</section>
{{!-- Home Section Ends --}}

{{!-- Service Section Starts --}}
<section class="service" id="service">
    <h1 class="heading">our <span>services</span></h1>
    <aside class="box-container">
        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>venue selection</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>invitation card</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            <i class="fas fa-music"></i>
            <h3>entertainment</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>food and drinks</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>photos and videos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>custome food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </aside>
</section>
{{!-- Service Section Ends --}}


